.container {
    display: flex;
    gap: 8px;
}

.input {
    width: 638px;
    height: 54px;
    border-radius: 8px;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 16px;
    color: var(--gray-300);
    font-size: 16px;
}

.input:focus {
    border: 1px solid var(--purple-dark);
}

.button {
    all: unset;
    width: 90px;
    height: 52px;
    background-color: var(--blue-dark);
    border-radius: 8px;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button:hover {
    background-color: var(--blue);
}


.button:hover:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}