.container {
    margin-bottom: 12px;
    width: 736px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-400);
    border: 1px solid #333333;
    border-radius: 8px;
    font-size: 14px;
    padding: 16px;
}

.check {
    width: 17.45px;
    height: 17.45px;
}

.trash {
    width: 12.48px;
    height: 14px;
}

.check:hover {
    background-color: var(--blue-dark);
    border-radius: 50%;
}

.trash:hover path {
    fill: var(--danger);
}

.taskComplet {
    text-decoration: line-through;
}