.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.section_input {
    position: absolute;
    top: 170px;
    display: flex;
    gap: 24px;
}